<!DOCTYPE html>
<head>
<title>Score!</title>
<h1>Score!</h1>
<h3>
    {{#if user}}
        <div id="curr-user">
           {{user.username}}<br>
            <form method="GET" action="/logout">
                <button id="btn-logout">Logout</button>
            </form>
        </div>
    {{/if}}
</h3>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{{body}}}
</body>
</html>