<h1>Create Election</h1>
<h2>{{error}}</h2>
<form method="POST">
    Position: <input type="text" name="position" value=""><br>
    Candidate #1:<br>
            Name: <input type="text" name="name-c1" value=""><br>
            Party: <input type="text" name="party-c1" value=""><br>
    Candidate #2:<br>
        Name: <input type="text" name="name-c2" value=""><br>
        Party: <input type="text" name="party-c2" value=""><br>
    Candidate #3:<br>
        Name: <input type="text" name="name-c3" value=""><br>
        Party: <input type="text" name="party-c3" value=""><br>
    <input type="submit" value="Start Election">
</form>