<h1>Create Election</h1>
<h2>{{error}}</h2>
<form id='start' method="POST">
    <span>
    Position: <input type="text" name="position">
</span>
    <input type="submit" value="Start Election">
</form>
<span id="add-candidate-btn">
    <button id="btn">Add Candidate</button>
</span>

<script src='/js/election.js'></script>