<h1>Elections</h1>
<h2>{{error}}</h2>
{{#each elections}}
    {{position}}
    <br>Started by {{user.username}}
    <form method="GET" action="elections/voting/">
        <input type="hidden" name="electionid" value={{electionid}}>
        <input type="submit" value="Vote!">
    </form>
{{/each}}
<br>
<form method="GET" action="/elections/create">
    <input type="submit" value="Create an Election!">
</form>