<h2>Score the Vote!</h2>
<h1>Home</h1>
<form class="login" method="post" action="http://localhost:3000/elections">
    Name: <input type="text" name="name" value=""> <br>
    Password: <input type="text" name="password" value=""> <br>
    <input type="submit" value="Login">
    <input type="submit" value="Register">
</form>