<!DOCTYPE html>
<head>
<title>Score!</title>
<h1>Score!</h1>
<h2>
<h3>
    {{#if user}}
        Logged in as {{user.username}}
        <form action="/">
            <input type='hidden' name='logout' value="true">
             <input type="submit" value="Logout">
        </form>
    {{/if}}
</h3>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{{body}}}
</body>
</html>