<h1>Registration</h1>
<h2>{{error}}</h2>
<form novalidate class="login" method="POST">
    Username: <input type="text" name="username" value=""><br>
    <span>Password:</span>
    <input type="password" name="password" value="">
    <span class="error" aria-live="=polite"></span><br>
    Confirm Password: <input type="password" id="password" name="confirm" value=""><br>
    <input type="submit" value="Register">
</form>
