<h1>Election for {{election.position}}</h1>
<h2>{{error}}</h2>
<form method="POST">
    {{#each candidates}}
    {{name}}:<br>
        Awful <input type="range" name="score-{{name}}" min="0", max="10"> Excellent<br><br>
    {{/each}}
    <input type="submit" value="Vote">
</form>